<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div mt-3 mx-1">
                <h2 id="titulo"><fa-icon [icon]="iconModulos" class="icon-title"></fa-icon> Módulos</h2>
                <button [routerLink]="'/administrador/modulos/create'" type="button" class="btn btn-primary btn-sm">
                    <fa-icon [icon]="iconAdd"></fa-icon> Nuevo módulo</button>
            </div>
            <br />
            <!--Inputs para buscar e importar-->
            <div class="row">
                <!--Buscar paciente por nombre-->
                <div class="col-12 col-md-4 col-lg-5 mb-3">
                    <form>
                        <label for="lenguaje_select"> <strong>Elija el lenguaje</strong></label>
                        <select name="lenguaje_select" id="lenguaje_select" class="form-select mt-2"
                            aria-label="Default select example" style="margin-bottom: 12px;"
                            [value]="selectedLenguajeId" (change)="changeLenguaje($event.target.value)">
                            <option *ngFor="let lenguaje of lenguajes" [value]="lenguaje.lenguaje_id">
                                {{lenguaje.titulo}}</option>
                        </select>
                    </form>
                </div>
                <div class="col-12 col-md-4 col-lg-5 mb-3">
                    <form>
                        <label for="lenguaje_select"> <strong>Elija el estado de los módulos</strong></label>
                        <select class="form-select mt-2" aria-label="Default select example"
                            style="margin-bottom: 12px;" (change)="onFilterChange($event)">
                            <option [value]="true" selected>Activos</option>
                            <option [value]="false">Inactivos</option>
                        </select>
                    </form>
                </div>

            </div>

            <!--Tabla con la lista de tareas-->
            <div class="card">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative;">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Titulo del módulo</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="modulos.length > 0; else noResults">
                                <tr *ngFor="let modulo of modulos | slice:initialPage:finalPage; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{modulo.titulo_modulo}}</td>
                                    <td>{{modulo.conceptos}}</td>
                                    <td>{{modulo.modulo_activo?"Activo":"Inactivo"}}</td>
                                    <td class="d-flex justify-content-around">
                                        <fa-icon [style.color]="'black'" *ngIf="modulo.modulo_activo"
                                            [routerLink]="['/administrador/modulos/edit/'+modulo.modulo_id]"
                                            data-bs-toggle="mensaje" title="Editar" [icon]="iconEditar"></fa-icon>
                                        <fa-icon *ngIf="modulo.modulo_activo"
                                        (click)="cambiar_estado_modulo(modulo.titulo_modulo, modulo.modulo_id, false)"
                                            data-bs-toggle="mensaje" title="Desactivar" id="iconEliminar"
                                            [icon]="iconOn"></fa-icon>
                                        <fa-icon *ngIf="!modulo.modulo_activo"
                                        (click)="cambiar_estado_modulo(modulo.titulo_modulo, modulo.modulo_id, true)"
                                            data-bs-toggle="mensaje" title="Activar" id="iconEliminar"
                                            [icon]="iconOff"></fa-icon>

                                    </td>

                                </tr>
                            </ng-container>
                            <!--Para cuando no cargue la data-->
                            <ng-template #noResults>
                                <tr>
                                    <td colspan="7" class="no-results">Sin resultados...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Paginación-->
            <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25]" [pageSize]="itemsForPage"
                [length]="lenguajes.length" (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</body>