<body>
    <div class="row justify-content-center">
      <div class="col-12 container-info">
        <div class="div mt-3 mx-1">
          <h4 id="titulo"><fa-icon [icon]="iconPreguntas" class="icon-title"></fa-icon> Preguntas</h4>
        </div>
        <br />
  
        <!--Tabla con la lista de tareas-->
        <div class="card" id="htmlTablePDF">
          <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
            <table class="table table-striped mb-0" id="htmlExcelTable">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Lenguaje</th>
                  <th scope="col">Modulo</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="actividades.length > 0; else noResults">
                  <tr
                    *ngFor="let actividad of actividades; let i=index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{actividad.tipo_actividad.replaceAll('-', ' ').toUpperCase()}}</td>
                    <td>{{actividad.nombre_lenguaje}}</td>
                    <td>{{actividad.nombre_modulo}}</td>
                    <td class="actions">
                      <!--(click)="openModalViewTaskDetail(viewTaskDetail, task.id)"-->
                      
                        <!--(click)="goToEditMyTask(task)"-->
                      <fa-icon data-bs-toggle="mensaje" title="Editar" id="iconEditar"
                        [icon]="iconEdit"></fa-icon>
                        <!--(click)="deleteTask(task.id, task.title)" -->
                      <fa-icon data-bs-toggle="mensaje" title="Eliminar"
                        id="iconEliminar" [icon]="iconDelete"></fa-icon>

                    </td>
                    
                  </tr>
                </ng-container>
                <!--Para cuando no cargue la data-->
                <ng-template #noResults>
                  <tr>
                    <td colspan="7" class="no-results">Sin resultados...</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
        <!--Paginación-->
       <!--  <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="itemsForPage"
          [length]="arrayTasks.length" (page)="changePage($event)">
        </mat-paginator> -->
      </div>
    </div>
  </body>
