<div class="box" id="resultScreen">

    <div class="barra">
        <span>Duolearn Programming</span>
        <span>Administrador</span>
        <span (click)="close_session()" id="cerrar-sesion">
            <a>Cerrar sesión
                <fa-icon [icon]="faCerrarSesion"></fa-icon>
            </a>
        </span>
    </div>

    <div class="body p-5 row justify-content-center">
        <div>
            <h4 id="titulo"><fa-icon [icon]="iconMyPatients" class="icon-title"></fa-icon> Preguntas</h4>
            <button [routerLink]="'/administrador/create'" type="button" class="btn btn-primary btn-sm">
                <fa-icon [icon]="iconAdd"></fa-icon> Nueva pregunta</button>
        </div>
        <br>
        <div class="card pt-3 mt-3" id="htmlTablePDF">
            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                <table class="table table-striped mb-0" id="htmlExcelTable">
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Lenguaje</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="actividades.length > 0; else noResults">
                            <tr *ngFor="let actividad of actividades; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{actividad.tipo.replaceAll('-', ' ').toUpperCase()}}</td>
                                <td>{{actividad.lenguaje=='csh'?'C#':'Java'}}</td>
                                <td>{{actividad.titulo}}</td>
                                <td class="acciones d-flex justify-content-evenly">
                                    <fa-icon [routerLink]="'/administrador/edit/' + actividad.id" title="Editar"
                                        style="cursor: pointer;" id="iconEditar" [icon]="iconEdit"></fa-icon>
                                    <fa-icon (click)="removeActivity(actividad.id)" data-bs-toggle="mensaje"
                                        style="cursor: pointer;" title="Eliminar" id="iconEliminar"
                                        [icon]="iconDelete"></fa-icon>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noResults>
                            <tr>
                                <td colspan="7" class="no-results">Sin resultados...</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>