<!--Agregar la página de carga-->

<div class="body">
    <div class="container">
        <form>
            <div class="header" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <div class="logo">
                    <img src="./assets/imagenes/logo_pag_principal.png" alt="Logo-principal">
                    <h6>DuoLearn Programming</h6>
                </div>
            </div>
        
        
            <div class="texto" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1300">
                <h2>Selecciona el curso que vas a practicar ahora: </h2>
            </div>
        
        
            <div class="elegir-curso" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                        data-aos-duration="1300">
                <div class="d-flex flex-row">
                    <div *ngFor="let lenguaje of lenguajes" class="card m-3" style="width: 50%; align-items: center;">
                        <img width="40%" [src]="lenguaje.portada" class="img-fluid" [alt]="lenguaje.titulo">
                        <div class="card-body">
                          <h5 class="card-title"> {{lenguaje.titulo}} </h5>
                          <p class="card-text"> {{lenguaje.descripcion}} </p>
                          <a (click)="redirigir(lenguaje.lenguaje_id)" class="btn btn-primary">Aprender {{lenguaje.titulo}} </a>
                        </div>
                    </div>
                </div>
            </div>
        
        
            
        </form>
    </div>
</div>