.caja {
    background-color: #FFF;
    height: auto;
    border-radius: 8px;
    padding: 20px;
}

.div {
    display: flex;
    justify-content: space-between;
}

input[readOnly] {
    background-color: #f0f0f0 !important;
    color: #6b6b6b;
    border-color: #dbdbdb;
    cursor: not-allowed;
}

#btnEditar {
    width: 100%;
}

.btn-primary {
    border-radius: 10px;
    background-color: rgb(6, 148, 68) !important;
    border-color: rgb(6, 148, 68) !important;
}

.btn-danger {
    border-radius: 10px;
}

.validators{
    color: #FC3B56;
}

.icon-title{
    color: rgb(6, 148, 68) !important;
}


/*----------------------Contraseña--------------------*/
.password-policies{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 7px;
}

.password-policies>ul{
    list-style: none;
    margin-left: 15px;
}

.input-group-text>fa-icon{
    color: rgb(6, 148, 68) !important;
    cursor: pointer;
}

.btn-cancelar{
    margin-right: 10px;
}