body{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh !important;
}

.background-radial-gradient {
    background-color: hsl(128, 56%, 50%);
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(rgb(214, 149, 28), wheat);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(rgb(214, 149, 28), wheat);
    overflow: hidden;
}

.bg-glass {
    background-color: #fff !important;
    backdrop-filter: saturate(200%) blur(25px);
    width: 120%;
    border-radius: 15px;
}
input,select{
    border-radius: 10px !important;
}

.btn-primary{
    background-color: rgb(5, 196, 88) !important;
    border-color: rgb(5, 196, 88);
    border-radius: 10px;
}

.btn-secondary{
    border-radius: 10px;
    margin-right: 10px;
}

.btn-outline-primary{
    border-color: #6C757D;
    color: #2e2e2e;
    border-radius: 10px;
}

.btn-outline-primary:hover{
    border-color: #6C757D!important;
    background-color: #6C757D !important;
    color: #fff !important;
}

.validators {
    color: #FC3B56;
}

.no-account{
    cursor: pointer;
}

.input-group-append, .input-group-text{
    margin-top: 1px;
    margin-left: 7px;
}