<app-pre-loader *ngIf="!spinnerStatus"></app-pre-loader>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="col-12 mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconModulo" class="icon-title"></fa-icon> Crear nuevo módulo para
                    lenguaje</h4>
            </div>

            <form [formGroup]="moduloForm">
                <div class="row mt-4 mb-md-3">
                    <!--Titulo-->
                    <div class="col-12 col-md-12 mb-1">
                        <label class="mb-1"><b>Título</b></label>
                        <input type="text" placeholder="Nombres*" class="form-control form-control-lg bg-light fs-6"
                            formControlName="titulo" [ngClass]="{
                                'is-invalid': moduloForm.get('titulo')?.hasError('required') && moduloForm.get('titulo')?.touched || moduloForm.get('titulo')?.hasError('pattern') || compararTextoVacio('titulo')===true && moduloForm.get('titulo')?.touched,
                                'is-valid': moduloForm.get('titulo')?.hasError('required')== false && moduloForm.get('titulo')?.hasError('minlength') == false
                              }" [maxlength]="30" />
                        <div class="validators"
                            *ngIf="moduloForm.get('titulo')?.hasError('required') && moduloForm.get('titulo')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators" *ngIf="moduloForm.get('titulo')?.hasError('pattern')">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                        <div class="validators"
                            *ngIf="compararTextoVacio('titulo')===true && moduloForm.get('titulo')?.touched">
                            <small>¡No se aceptan espacios en blanco!</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <!--Ícono-->
                    <div class="col-6 col-md-6 mb-3">
                        <label class="mb-1"><b>Icono</b></label>
                        <input type="file" accept="image/*" class="form-control form-control-lg bg-light fs-6"
                            (change)="vista_preliminar1($event)" formControlName="icono" [ngClass]="{
                                'is-invalid': moduloForm.get('icono')?.hasError('required') && moduloForm.get('icono')?.touched,
                                'is-valid': moduloForm.get('icono')?.value?.length >= 4
                              }" />
                        <div class="validators"
                            *ngIf="moduloForm.get('icono')?.hasError('required') && moduloForm.get('icono')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                     <!--Lenguaje-->
                     <div class="col-6 col-md-6">
                        <label class="mb-1"><b>Seleccione un lenguaje</b></label>
                        <select class="form-select form-select-md" aria-label=".form-select-lg example"
                            [(ngModel)]="optionLenguajeSelected" formControlName="lenguaje" [ngClass]="{
                            'is-invalid': moduloForm.get('lenguaje')?.hasError('required') && moduloForm.get('lenguaje')?.touched,
                            'is-valid': optionLenguajeSelected!= ''
                            }">
                            <option value="" selected>Seleccione una opción</option>
                            <option *ngFor="let lenguaje of arrayLenguajes" [value]="lenguaje.lenguaje_id">
                                {{lenguaje.titulo}}</option>
                        </select>
                        <div class="validators"
                            *ngIf="moduloForm.get('lenguaje')?.hasError('required') && moduloForm.get('lenguaje')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="display: flex; justify-content: center;align-items: center;">
                            <img class="img-fluid" width="20%" height="20%" alt="" id="img-vista-previa1" />
                        </div>
                    </div>
                </div>


                <!--Descripción-->
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="mb-1" id="descripcion"><b>Descripción</b></label>
                        <textarea class="form-control form-control-lg bg-light fs-6" formControlName="descripcion"
                            placeholder="Descripción*" rows="10"
                            [ngClass]="{
                                'is-invalid': moduloForm.get('descripcion')?.hasError('required') && moduloForm.get('descripcion')?.touched || moduloForm.get('descripcion')?.hasError('pattern') || compararTextoVacio('descripcion')===true && moduloForm.get('descripcion')?.touched,
                                'is-valid': moduloForm.get('descripcion')?.hasError('required')==false && moduloForm.get('descripcion')?.hasError('minlength') == false }">
                            </textarea>
                        <div class="validators"
                            *ngIf="moduloForm.get('descripcion')?.hasError('required') && moduloForm.get('descripcion')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators"
                            *ngIf="compararTextoVacio('descripcion')===true && moduloForm.get('descripcion')?.touched">
                            <small>¡No se aceptan espacios en blanco!</small>
                        </div>
                    </div>
                </div>

                <div class="action-buttons mb-3">
                    <button routerLink="/administrador/modulos/list" mat-button type="button"
                        class="btn btn-danger btn-md">Cancelar</button>
                    <button [disabled]="!moduloForm.valid" (click)="registrarModulo()" mat-button type="button"
                        class="btn btn-primary btn-md">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>