<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="col-12 mt-3 mx-1">
                <h4 id="titulo"><fa-icon [icon]="iconModulo" class="icon-title"></fa-icon> Editar módulo</h4>
            </div>

            <form [formGroup]="moduloForm">
                <div class="row mt-4">
                    <!--Titulo-->
                    <div class="col-12 col-md-12 mb-3">
                        <label class="mb-1"><b>Título</b></label>
                        <input type="text" placeholder="Nombres*" class="form-control form-control-lg bg-light fs-6"
                        [ngModel]="infoModulo?.titulo_modulo"    
                        formControlName="titulo" [ngClass]="{
                                'is-invalid': moduloForm.get('titulo')?.hasError('required') && moduloForm.get('titulo')?.touched || moduloForm.get('titulo')?.hasError('pattern'),
                                'is-valid': moduloForm.get('titulo')?.value?.length >= 4 && moduloForm.get('titulo')?.hasError('pattern') == false
                              }" [maxlength]="50" />
                        <div class="validators"
                            *ngIf="moduloForm.get('titulo')?.hasError('required') && moduloForm.get('titulo')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                        <div class="validators" *ngIf="moduloForm.get('titulo')?.hasError('pattern')">
                            <small>¡Solo se permiten letras!</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <!--Ícono-->
                    <div class="col-12 col-md-6 mb-3">
                        <label class="mb-1"><b>Icono</b></label>

                        <input  type="file" accept="image/*" class="form-control form-control-lg bg-light fs-6"
                        [ngModel]="infoModulo?.icono"     
                        (change)="vista_preliminar1($event)" formControlName="icono" [ngClass]="{
                                'is-invalid': moduloForm.get('icono')?.hasError('required') && moduloForm.get('icono')?.touched,
                                'is-valid': moduloForm.get('icono')?.value?.length >= 4
                              }" />
                        <div class="validators"
                            *ngIf="moduloForm.get('icono')?.hasError('required') && moduloForm.get('icono')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12" style="display: flex; justify-content: center;align-items: center;">
                            <img [src]="infoModulo?.icono"class="img-fluid" width="20%" height="20%" alt="" id="img-vista-previa1" />
                        </div>
                    </div>                    
                </div>
                <!--Descripción-->
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="mb-1" id="concepto"><b>Descripción</b></label>
                        <textarea class="form-control form-control-lg bg-light fs-6" formControlName="concepto"
                        [ngModel]="infoModulo?.conceptos"        
                        placeholder="Descripción*" rows="10"
                            [ngClass]="{
                                'is-invalid': moduloForm.get('concepto')?.hasError('required') && moduloForm.get('concepto')?.touched || moduloForm.get('concepto')?.hasError('pattern'),
                                'is-valid': moduloForm.get('concepto')?.value?.length >=8 && moduloForm.get('concepto')?.hasError('pattern') == false }">
                            </textarea>
                        <div class="validators"
                            *ngIf="moduloForm.get('concepto')?.hasError('required') && moduloForm.get('concepto')?.touched">
                            <small>¡Este campo es requerido!</small>
                        </div>
                    </div>
                </div>

                <div class="action-buttons mb-3">
                    <button routerLink="/administrador/modulos/list" mat-button type="button"
                        class="btn btn-danger btn-md">Volver</button>
                    <button [disabled]="!moduloForm.valid" (click)="registrarModulo()" mat-button type="button"
                        class="btn btn-primary btn-md">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>