<app-pre-loader *ngIf="!spinnerStatus"></app-pre-loader>

<body>
    <div class="row justify-content-center">
        <div class="col-12 container-info">
            <div class="div mt-3 mx-1">
                <h2 id="titulo"><fa-icon [icon]="iconUsuarios" class="icon-title"></fa-icon> Usuarios</h2>
            </div>
            <br />
            <!--Inputs para buscar e importar-->
            <div class="row">
                <!--Buscar usuario por nombre-->
                <div class="col-12 col-md-2 col-lg-2 mb-3">
                    <form>
                        <label for="lenguaje_select"> <strong>Filtrar por</strong></label>
                        <select class="form-select mt-2" aria-label="Default select example"
                            style="margin-bottom: 12px;" (change)="onFilterChange($event.target.value)">
                            <option [value]="true" selected>Activos</option>
                            <option [value]="false">Inactivos</option>
                        </select>
                    </form>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <form>
                        <label for="lenguaje_select"> <strong>Buscar por nombre de usuario</strong></label>
                        <input class="form-control me-1 mt-2" type="text" placeholder="Buscar..."
                            name="buscarMovimientos" [(ngModel)]="usersToSearch">
                    </form>
                </div>
            </div>

            <!--Tabla con la lista de tareas-->
            <div class="card">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                    style="position: relative;">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="usuarios.length > 0; else noResults">
                                <tr
                                    *ngFor="let usuario of usuarios | slice:initialPage:finalPage | searchRegisters:usersToSearch:optionFilter; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{usuario.nombres + " " + usuario.apellidos}}</td>
                                    <td>{{usuario.usuario}}</td>
                                    <td>{{usuario.correo}}</td>
                                    <td>{{usuario.tipo_usuario}}</td>
                                    <td>
                                        {{ usuario.aprobado === null ? 'Sin solicitud' : usuario.aprobado ? 'Aprobado' :
                                        'Pendiente' }}
                                    </td>
                                    <td class="actions">
                                        <fa-icon *ngIf="usuario.usuario_activo"
                                            (click)="eliminarUsuario(usuario.nombres + ' ' + usuario.apellidos, usuario.usuario_id, false)"
                                            data-bs-toggle="mensaje" title="Desactivar" id="iconEliminar"
                                            [icon]="iconOn"></fa-icon>
                                        <fa-icon *ngIf="!usuario.usuario_activo"
                                            (click)="eliminarUsuario(usuario.nombres + ' ' + usuario.apellidos, usuario.usuario_id, true)"
                                            data-bs-toggle="mensaje" title="Reactivar" id="iconVerDetalles"
                                            [icon]="iconOff"></fa-icon>
                                        <fa-icon *ngIf="usuario.tipo_usuario.trim()=='docente' && !usuario.aprobado"
                                            (click)="aprobarComoProfesor(usuario.nombres + ' ' + usuario.apellidos , usuario.usuario_id)"
                                            data-bs-toggle="mensaje" title="Aprobar Docente" id="iconVerDetalles"
                                            [icon]="iconAprobar"></fa-icon>
                                    </td>

                                </tr>
                            </ng-container>
                            <!--Para cuando no cargue la data-->
                            <ng-template #noResults>
                                <tr>
                                    <td colspan="7" class="no-results">Sin resultados...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Paginación-->
            <mat-paginator id="paginacion" [pageSizeOptions]="[5, 10, 25]" [pageSize]="itemsForPage"
                [length]="usuarios.length" (page)="changePage($event)">
            </mat-paginator>
        </div>
    </div>
</body>