<div *ngIf="bol" class="contenedorLoader">
    <div class="loader"></div>
    <a href="./assets/imagenes/"></a>
</div>

<div class="container" *ngIf="bol2">
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar" >
        <div class="sidebar-brand">
            <h2><span><fa-icon [icon]="fagraduation"></fa-icon></span><span>Duolearn</span></h2>
        </div>

        <!--Opciones del menú lateral-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a [class.active]="indice === 0" (click)="cambiarIndice(0)"> <span><fa-icon [icon]="fahome"></fa-icon></span>
                        <span>Tablero</span> </a>
                </li>
                <li>
                    <a [class.active]="indice === 1" (click)="cambiarIndice(1)"> <span><fa-icon [icon]="fachart"></fa-icon></span>
                        <span>Estadísticas</span></a>
                </li>
                <li>
                    <a [class.active]="indice === 2" (click)="cambiarIndice(2)"> <span><fa-icon [icon]="fauser"></fa-icon></span>
                        <span> Mi Perfil</span></a>
                </li>
                <li>
                    <a [class.active]="indice === 3" (click)="cambiarIndice(3)"> <span><fa-icon [icon]="facrown"></fa-icon></span>
                        <span>Coronas</span></a>
                </li>
                <li (click)="close_session()">
                    <a> <span><fa-icon [icon]="fasignoutalt"></fa-icon></span>
                        <span>Cerrar sesión</span></a>
                </li>
            </ul>
        </div>
    </div>


    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span id="logo-menu"><fa-icon [icon]="fabars"></fa-icon></span>
                </label>
            </h2>

            <div class="search-wrapper">
                <select name="comboBox" id="combobox" [(ngModel)]="lenguajeSeleccionado" (change)="elegir_leng()">
                    <option disabled>Cambiar Lenguaje</option>
                    <option *ngFor="let lenguaje of lenguajes" [value]="lenguaje.lenguaje_id">{{lenguaje.titulo}}
                    </option>
                </select>
            </div>

            <div class="user-wrapper">
                <!--Cambiar el logo del lenguaje según el que se seleccione-->
                <img [src]="img" id="lenguaje-practicando" width="50px" height="50px">
                <div>
                    <h4>{{nombre}}</h4>
                </div>
            </div>
        </header>

        <main>
            <!--Módulos-->
            <div *ngIf="indice==0">
                <div class="tarjetas" *ngIf="modulos.length > 0">
                    <div *ngFor="let modulo of modulos" class="tarjetas-simples" [ngStyle]="estilo1"
                        (click)="agregar_text(modulo.modulo_id)">
                        <div class="fila mb-3">
                            <div class="columna porcentaje">
                                <h1>{{modulo.porcentaje}}%</h1>
                            </div>
                            <div class="columna icono">
                                <img [src]="modulo.icono" class="img-fluid smaller-icon" alt="">
                            </div>
                        </div>
                        <div class="fila">
                            <span class="titulo-modulo">{{modulo.titulo_modulo}}</span>
                        </div>
                    </div>
                    <div *ngIf="modulos.length == 0">
                        <h1>No hay modulos</h1>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </main>

    </div>
</div>