<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <fa-icon [icon]="iconBars" id="header-toggle" (click)="toggleNavbar()"></fa-icon> </div>
        <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt="">
            <span> Administrador</span>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo">
                    <i class='bx bx-layer nav_logo-icon'></i>
                    <h3 class="nav_logo-name text-center">DuoLearn Programming</h3>
                </a>
                <br />
                <div class="nav_list">
                    <a (click)="cambiarIndice(0)" class="nav_link" [class.active]="indice === 0" style="height: 55px;">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name"><fa-icon [icon]="iconHome"></fa-icon>&nbsp;&nbsp;&nbsp;Inicio</span>
                    </a>
                    <a (click)="cambiarIndice(1)" class="nav_link" [class.active]="indice === 1 || indice === 2 || indice === 3" style="height: 55px;">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name"><fa-icon [icon]="iconLanguage"></fa-icon>&nbsp;&nbsp;&nbsp;Lenguajes</span>
                    </a>
                    <a (click)="cambiarIndice(4)" class="nav_link" [class.active]="indice === 4 || indice === 5 || indice === 6" style="height: 55px;">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name"><fa-icon [icon]="iconModules"></fa-icon>&nbsp;&nbsp;&nbsp;Módulos</span>
                    </a>
                    <a (click)="cambiarIndice(7)" class="nav_link" [class.active]="indice === 7 || indice === 8 || indice === 9 || indice === 10" style="height: 55px;">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name"><fa-icon [icon]="iconQuestions"></fa-icon>&nbsp;&nbsp;&nbsp;Preguntas</span>
                    </a>
                    <a (click)="cambiarIndice(11)"  *ngIf="userTypeRecived == 'administrador'" class="nav_link" [class.active]="indice === 7" style="height: 55px;">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name"><fa-icon [icon]="iconUsers"></fa-icon>&nbsp;&nbsp;&nbsp;Usuarios</span>
                    </a>
                </div>
            </div>
            <a (click)="cambiarIndice(999)" class="nav_link" style="height: 55px;">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name"><fa-icon [icon]="iconSignOut"></fa-icon>&nbsp;&nbsp;&nbsp;Cerrar sesión</span>
            </a>
        </nav>
    </div>

    <main class="mx-4" [ngSwitch]="indice">
        <div class="home" *ngSwitchCase="0">
            <h1>DuoLearn Programming</h1>
            <span class="text-center">¡Bienvenido al panel de administración!</span>
        </div>

        <!--Opción de lenguajes-->
        <div class="row container-options" *ngSwitchCase="1" style="margin-top: calc(50vh/2)">
            <button class="col-6 option-create" (click)="cambiarIndice(2)">
                <fa-icon [icon]="iconListar"></fa-icon>
                <h5>Listar lenguajes</h5>
            </button>
            <button class="col-6 option-link" (click)="cambiarIndice(3)">
                <fa-icon [icon]="iconCrear"></fa-icon>
                <h5>Crear lenguajes</h5>
            </button>
        </div>

        <!--Opción de Módulos-->
        <div class="row container-options" *ngSwitchCase="4" style="margin-top: calc(50vh/2)">
            <button class="col-6 option-create" (click)="cambiarIndice(5)">
                <fa-icon [icon]="iconListar"></fa-icon>
                <h5>Listar módulos</h5>
            </button>
            <button class="col-6 option-link" (click)="cambiarIndice(6)">
                <fa-icon [icon]="iconCrear"></fa-icon>
                <h5>Crear módulos</h5>
            </button>
        </div>

        <!--Opción de Preguntas-->
        <div class="row container-options" *ngSwitchCase="7" style="margin-top: calc(50vh/2)">
            <button class="col-6 option-create" (click)="cambiarIndice(8)">
                <fa-icon [icon]="iconListar"></fa-icon>
                <h5>Listar preguntas</h5>
            </button>
            <button class="col-6 option-link" (click)="cambiarIndice(9)">
                <fa-icon [icon]="iconCrear"></fa-icon>
                <h5>Crear preguntas</h5>
            </button>
            <button class="col-6 option-link" (click)="cambiarIndice(10)">
                <fa-icon [icon]="iconEditar"></fa-icon>
                <h5>Editar preguntas</h5>
            </button>
        </div>

        <app-admin-list-lenguajes *ngSwitchCase="2"></app-admin-list-lenguajes>
        <app-admin-crear-lenguajes *ngSwitchCase="3"></app-admin-crear-lenguajes>
        <app-admin-listar-modulos *ngSwitchCase="5"></app-admin-listar-modulos>
        <app-admin-crear-modulos *ngSwitchCase="6"></app-admin-crear-modulos>

        <app-list *ngSwitchCase="8"></app-list>
        <app-create *ngSwitchCase="9"></app-create>
        <app-edit *ngSwitchCase="10"></app-edit>
        <div *ngSwitchCase="11">
            <app-usuarios *ngIf="userTypeRecived == 'administrador'"></app-usuarios>
        </div>
    </main>
</body>